.footer {
  background: #15161E;
  padding: 112px 0;
  font-family: "Roboto", sans-serif;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 134px;
  height: 50px;
}

.footer__logo img {
  width: 100%;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer__nav {
  width: 246px;
}

.footer__nav .item {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__nav .item:hover {
  color: #4088DD;
}

.footer__nav .item.active {
  color: #4088DD;
}

.footer__nav.min {
  width: 91px;
  margin-left: 122px;
}

.footer__contacts {
  width: 410px;
  margin-left: 188px;
}

.footer__contacts .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.footer__contacts .phone {
  font-weight: 400;
  font-size: 26px;
  line-height: 29px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__contacts .phone:hover {
  color: #4088DD;
}

.footer__contacts .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}

.footer__contacts .link {
  width: 200px;
  height: 60px;
  background: #000000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}